.row {
    display: flex;
    flex-wrap: wrap;
    
}


#artivle {
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    
}

#categories {
    margin-top: 90px;
    
}

h2 {
    margin-top: 50px;
}