body{
    
background-image: url("../img/Fondo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
      .btn-color {
    background-color: #0077ff;
   

}
.cardbody-color {
    background-color: #ffffff;
}

